body {
background-color: rgb(14, 32, 231, 0.549);
color :white;
 font-family: "Libertinus Serif", serif;
display: flex;
justify-content: center;
align-items: center;
height:700px;
margin: 0;

}

button {
   background-color: rgb(255, 183, 0);
   color: white;
   font-family: "Libertinus Serif", serif;

}








