body {
background-color: #1299e2;
color :rgb(0, 0, 0);
 font-family: "Libertinus Serif", serif;
display: flex;
justify-content: center;
align-items: center;
height:700px;
margin: 0;

}

button {
   background-color: rgb(255, 183, 0);
   color: white;
   font-family: "Bai Jamjuree", serif;

}

.passo {
   display: none;
}

.passo.ativo {
   display:block;
}


main {
   max-width: 90%;
   text-align: center;
}

img {
   max-width: 90%;
}







